.available-positions-wrapper {
  h2 {
    border-bottom: 5px solid $black;
    padding-bottom: 13px;
    margin-bottom: 0;
  }

  ul.available-positions-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 13px;

      &:nth-child(odd) {
        background: #e5e5e5;
      }

      &:nth-child(even) {
        background: #cecece;
      }

      h4 {
        width: 33.33%;
        font-weight: 300;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 13px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
