.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  .button {
    color: $white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 15px 7px 15px 7px;
    transition: all ease 350ms;

    &.red {
      background: $red;
    }

    &.blue {
      background: $blue;
    }

    &.white {
      background: $white;
      color: $black;
    }

    &.black {
      background: $black;
    }

    &:hover {
      border-radius: 7px 15px 7px 15px;

      &.red {
        background: rgba($red, 0.8);
      }

      &.blue {
        background: rgba($blue, 0.8);
      }

      &.white {
        background: rgba($white, 0.8);
      }

      &.black {
        background: rgba($black, 0.8);
      }
    }
  }
}
