.call-to-action-wrapper {
  padding: 15vmin 0;
  position: relative;

  @media (max-width: 1024px) {
    padding: 10vmin 0;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: top;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba($blue, 0.3);
    }
  }

  .inner {
    width: 960px;
    position: relative;
    z-index: 3;

    * {
      text-align: center;
    }

    blockquote {
      * {
        text-align: left;
        font-size: clamp(22px, 2vw, 32px);
        color: $white;
        font-weight: 400;
      }
      strong {
        font-size: clamp(14px, 2vw, 18px);
        font-weight: 600;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 700;
        font-size: clamp(20px, 2vw, 28px);
      }
    }

    @media (max-width: 768px) {
      * {
        text-align: left;
      }
    }

    @media (max-width: 768px) {
      width: calc(100% - 22.5px);

      .button-wrapper {
        justify-content: flex-start;
      }
    }
  }
}
