.columns-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  .colum {
    width: calc(33.33% - 34px);

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 34px;
    }

    img {
      margin-bottom: 13px;
      height: 300px;
      object-fit: cover;
    }
  }

  &.center {
    justify-content: center;

    .colum {
      margin: 0 17px;
    }
  }

  &.space-between {
    justify-content: space-between;

    .colum {
      //
    }
  }
}
