.error {
    * {
        // box-shadow: 0 0 0 1px black;
        text-align: center;
    }

    p {
        margin: 0 0 1em 0;
    }

    h1 {
        
    }

    .button-wrapper {
        a {
            &:first-of-type {
                margin-right: 1em;
            }
            &.brandColor {
                margin-right: 1em;
                background: var(--brandColor);
            }
        }
    }
}