* {
  // box-shadow: 0 0 0 1px white;
}
footer {
  background: $red;
  color: $white;
  padding: 110px 0;
  margin-top: auto;
  position: relative;

  @media (max-width: 768px) {
    padding: 55px 0;
  }

  .wrapper {
    .inner {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;

      @media (max-width: 1280px) {
        flex-wrap: wrap;
      }

      .logo {
        svg {
          width: 150px;
          height: auto;
        }
      }
      .footer-col {
        &:nth-child(1) {
          width: auto;
          margin-right: 34px;

          @media (max-width: 1280px) {
            width: 50%;
            margin-right: 0;
            margin-bottom: 55px;
          }

          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &:nth-child(2) {
          width: 20%;

          @media (max-width: 1280px) {
            width: 50%;
            margin-bottom: 55px;
          }

          @media (max-width: 768px) {
            width: 100%;
          }

          ul {
            li {
              list-style: none;
              margin-bottom: 13px;

              a {
                color: $white;
                text-decoration: none;
                font-weight: 600;

                // @media (max-width: 1280px) {
                //   display: block;
                //   text-align: right;
                // }
              }
            }
          }
        }
        &:nth-child(3) {
          width: calc(20% - 34px);
          @media (max-width: 1280px) {
            width: calc(33.33% - 34px);
          }

          @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 55px;
          }
        }
        &:nth-child(4) {
          width: calc(20% - 34px);
          @media (max-width: 1280px) {
            width: calc(33.33% - 34px);
          }

          @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 55px;
          }
        }
        &:nth-child(5) {
          width: calc(20% - 34px);
          @media (max-width: 1280px) {
            width: calc(33.33% - 34px);
          }

          @media (max-width: 768px) {
            width: 100%;
          }
        }
        h4,
        h5 {
          margin-bottom: 17px;
        }
        p {
          margin-bottom: 0px;
        }
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  .a-element {
    position: absolute;
    right: -0;
    bottom: 0;
    height: 100%;
    width: 300px;
    z-index: 1;

    img {
      width: auto;
      height: 100%;
      position: absolute;
      right: 0;
      box-shadow: none;
    }
  }
}
