@mixin input {
  border: 2px solid $black;
  padding: 13px !important;
  border-radius: 10px 5px 10px 5px;
}

@mixin textarea {
  border: 2px solid $black;
  padding: 13px !important;
  border-radius: 10px 5px 10px 5px;
}

#gform_confirmation_wrapper_1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--brandColor);
  padding: 17px 0;
  &.out {
    display: none;
  }
  * {
    color: white;
    text-align: center;
  }
}

* {
  // box-shadow: 0 0 0 1px red;
}

input {
  @include input;
}

textarea {
  @include input;
}

.gform_wrapper {
  padding: 110px 0;

  @media (max-width: 1024px) {
    padding: 55px 0;
  }

  * {
    margin: 0;
    padding: 0;
  }
  .gform_title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .gform_body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

        .gform_fields {
          width: 70%;
          display: flex;
          // box-shadow: 0 0 0 1px black;
          @media(max-width: 1024px) {
            width: 100%;
          }
        }

    }

    .gfield_required {
      display: none;
    }

    #gform_fields_1 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      grid-column-gap: initial;
      grid-row-gap: initial;
      position: relative;

      .new {
        width: 48%;
      }

      .gfield {
        width: 100%;
        margin-bottom: 34px;
        display: flex;
        width: 100%;
        * {
          width: 100%;
        }
        @media(max-width: 767px) {
          &:nth-child(1) { order: 1; }
          &:nth-child(2) { order: 2; }
          &:nth-child(3) { order: 4; }
          &:nth-child(4) { order: 3; }
        }

      }

      // #field_1_3 {
      //   width: 95%;
      //   margin-bottom: 34px;
      //   @media (max-width: 768px) {
      //     width: 100%;
      //   }
      // }
      // #field_1_4 {
      //   width: 95%;
      //   @media (max-width: 768px) {
      //     width: 100%;
      //     margin-bottom: 34px;
      //   }
      // }
      // section {
      //   width: 50%;

      //   @media (max-width: 768px) {
      //     width: 100%;
      //   }

      //   #field_1_6 {
      //     width: 100%;
      //     @media (max-width: 768px) {
      //       margin-bottom: 34px;
      //     }
      //   }
      // }
      // #field_1_5 {
      //   width: 100%;
      //   position: absolute;
      //   bottom: 70px;

      //   @media (max-width: 768px) {
      //     position: relative;
      //     bottom: initial;
      //   }
      // }
    }

    .gform_footer {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      transform: translateY(-110%);
      @media(max-width: 1024px) {
        width: 100%;
      }
      @media(max-width: 767px) {
        transform: translateY(0);
      }
    }

    input[type="submit"] {
      background: var(--brandColor);
      color: $white;
      border: none;
      padding: 1rem 2rem !important;
      text-decoration: none;
      border-radius: 15px 7px 15px 7px;
      transition: all ease 350ms;
      font-weight: 700;
      text-transform: uppercase;
      font-size: clamp(12px, 1vw, 18px);
    }

    .gfield_checkbox {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .ginput_container_consent,
    .ginput_container_checkbox {
      display: flex;
      align-items: center;
      > label {
        position: relative;
        padding-left: 34px;

        width: 100%;
        font-family: $primary-font;
        display: block;
        &:before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          left: -0;
          background: $white;
          z-index: 999;
          transition: all ease 250ms;
          border: 2px solid $black;
          border-radius: 5px 2px 5px 2px;
        }
      }
      > input {
        display: none;
        &:checked ~ label {
          &:before {
            background: var(--brandColor);
            border-color: var(--brandColor);
          }
        }
      }
      .gchoice {
        width: 100%;
        input {
          display: none;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ label {
            &:before {
              background-color: rgb(253, 178, 39);
            }
            &:after {
              margin-left: 20px;
              box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
            }
          }
        }
        label {
          position: relative;
          padding-left: 13px;
          width: 100%;
          font-family: $primary-font;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -5px;
            width: 50px;
            height: 30px;
            background: #ececec;
            z-index: 999;
            transition: all ease 250ms;
            border-radius: 100px;
            outline: 1px solid black;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: -6px;
            width: 30px;
            height: 30px;
            background: white;
            outline: 0.5px solid black;
            border: 1px solid black;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            z-index: 1000;
            transition: all ease 250ms;
            border-radius: 100px;
          }
        }
      }
    }
  }

  #gform_ajax_spinner_1 {
    // background: lightskyblue;
    width: 30px;
    height: 30px;
    margin-left: 13px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }
}

.gform_validation_errors {
  background: rgba(var(--brandColor), 20%) !important;
  border-radius: 10px 5px 10px 5px !important;
  margin: 0;
  padding: 13px !important;
  border: none;
  font-family: $primary-font !important;
}

.gform_description {
  display: none!important;
}

.gfield_consent_label {
}

#gform_wrapper_4 {
  .gform_footer {
    bottom: initial;
  }
}

.gform-icon {
  display: none !important;
}

.gfield_validation_message {
  border-radius: 10px 5px 10px 5px;
}

.gform_wrapper .gform_validation_errors > h2 {
  color: var(--brandColor)!important;
  text-align: center;
  line-height: 0;
  font-size: 14px!important;
}

.gform_wrapper .gform_validation_errors {
  border: 1px solid var(--brandColor)!important;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}

.gform_wrapper .gfield_validation_message, .gform_wrapper .validation_message {
  border: 1px solid var(--brandColor)!important;
  background: white!important;
  color: var(--brandColor)!important;
  margin: 34px 0!important;
}

.gfield_consent_label {
  color: var(--brandColor)!important;
}

.wpcf7-field-group-remove {
  border: none;
  outline: none;
  background: none;
}
.wpcf7-field-group-add, .wpcf7-field-group-remove {
  border: none;
  outline: none;
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 7px 4px 7px 4px;
  border: 2px solid $black;
  margin-right: 13px;
}

select {
  padding: 13px;
  border: none;
  border: 2px solid $black;
  border-radius: 7px 4px 7px 4px;
  width: 100%;
}

.form-item {
  margin-bottom: 21px;

  h4 {
    margin: 0 0 13px 0;
  }
  
  p {
    margin: 0;
  }
}

.wpcf7-field-group {
  background: rgba(0,0,0,0.03);
  border: 0.5px solid rgba(0,0,0,0.1);
  padding: 21px;
  border-radius: 10px 2px 10px 2px;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .form-item {
    width: 30%;

    @media(max-width: 768px) {
      width: 100%;
    }
  }

  p {
    margin-bottom: 0;
    width: 100%;
  }
}

.wpcf7 {
  display: flex;
  justify-content: flex-start;

  .wpcf7-field-groups {
    width: 960px;

    @media(max-width: 960px) {
      width: 100%;
    }
  }

  input {
    width: 100%;
  }

  input[type="submit"] {
    width: auto;
  }
}

input[type="submit"] {
  border:none;
  outline:none;
}