* {
  //   box-shadow: 0 0 0 1px $red;
}

.gateway-products-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  h2 {
    text-align: center;
    width: 100%;
  }
  .product-item {
    list-style: none;
    width: 25%;
    @media (max-width: 1050px) {
      width: 50%;
      margin-bottom: 34px;
    }
    @media (max-width: 650px) {
      width: 100%;
      margin-bottom: 34px;
    }
    a {
      color: $black;
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;

      .image-wrapper {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 34px;
        @media (max-width: 1550px) {
          width: 200px;
          height: 200px;
        }
        @media (max-width: 1100px) {
          width: 100px;
          height: 100px;
        }
        @media (max-width: 768px) {
          width: 250px;
          height: 250px;
          margin: 0 auto 34px auto;
        }
        @media (max-width: 400px) {
          width: 100px;
          height: 100px;
          margin: 0 auto 34px auto;
        }
        img {
          position: relative;
          width: 50%;
          height: 50%;
          box-shadow: none;
        }
        &.red {
          background: $red;
        }
        &.blue {
          background: $blue;
        }
      }
      h4 {
        width: 100%;
      }
    }
  }
}
