.gateway-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .gateway {
    width: calc(50% - 34px);

    @media (max-width: 1024px) {
      width: calc(50% - 34px);
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 34px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 25px 5px 25px 5px;
      position: relative;
    }

    &.engineering {
      .img-wrapper {
        // @include duotone;
        height: 30vmin;
        background-color: $red;
        margin-bottom: 34px;
        img {
          filter: grayscale(100%);
        }
      }
      h2 {
        color: $red;
      }
    }
    &.communications {
      .img-wrapper {
        // @include duotone;
        height: 30vmin;
        background-color: $blue;
        margin-bottom: 34px;
        img {
          filter: grayscale(100%);
        }
      }
      h2 {
        color: $blue;
      }
    }
  }
}
