* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
}

.cc-window {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.ml12 {
  // 
}

.ml12 .letter {
  display: inline-block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-snap-type: y proximity;
  /* Reserve space for header plus some extra space for sneak peeking. */
  scroll-padding-top: 150px;
  overflow-y: scroll;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(#fff, 1);
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 150px;
    height: 75px;

    .A1 {
      opacity: 0;
      transform: translateX(-20%);
      transition: all ease-in-out 650ms;
      &.in {
        opacity: 1;
        transform: translateX(0%);
      }
    }
    .A2 {
      opacity: 0;
      transform: translateX(-20%);
      transition: all ease 650ms;
      transition-delay: 250ms;
      &.in {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .page-inner {
    width: 100%;
    padding-top: 125px;
  }
}

.archive-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .archive-inner {
    width: 100%;
    padding-top: 155px;
  }
}

.taxonomy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .taxonomy-inner {
    width: 100%;
    padding-top: 155px;
  }
}

.single-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .single-inner {
    width: 100%;
    padding-top: 155px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .inner {
    width: 1920px;

    @media (max-width: 1920px) {
      width: calc(100% - 110px);
      margin: 0 55px;
    }

    &.the-content {
      width: 912px;
    }

    @media (max-width: 768px) {
      width: calc(100% - 22px);
      margin: 0 11px;
    }
  }
}

.block {
  margin-bottom: 55px;
  opacity: 1;
  transform: translateY(50px);
  transition: all ease 350ms;
  transition-delay: 0.5s;

  &.show {
    transform: translateY(0px);
    opacity: 1;
  }

  @media (max-width: 1024px) {
    margin-bottom: 55px;
  }
}

img,
.img-wrapper {
  width: 100%;
  height: auto;
  border-radius: 25px 5px 25px 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

@mixin duotone {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 25px 5px 25px 5px;
  // margin-bottom: $margin-bottom;
  &:before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    border-radius: 25px 5px 25px 5px;
    // display: none;
  }

  @media (max-width: 600px) {
    height: 50vmin;
  }

  img {
    border-radius: 25px 5px 25px 5px;
    flex: 1 0 100%;
    height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    opacity: 1;
    position: relative;
    width: 100%;
  }
}
.img-wrapper {
  @include duotone;
}

body.admin-bar header {
  top:32px;
}

@media all and (max-width:782px) {
  body.admin-bar header {
      top:46px;
  }

  .mobile-nav.active {
    top: 70px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
      position: fixed!important;
  }
}