* {
  // box-shadow: 0 0 0 1px $blue;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 9999;
  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &.active {
    box-shadow: 0 5px 40px rgba($black, 0.15);
  }

  .wrapper {
    position: relative;
    height: 100%;
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: 100%;

      @media(max-width: 1440px) {
        justify-content: space-between;
      }

      .lang-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 17px;
        border-right: 1px solid var(--brandColor);
        height: 100%;

        a {
          color: $black;
          text-decoration: none;
          width: 100%;
          opacity: 0.5;

          &.current {
            color: var(--brandColor);
            opacity: 1;
          }

          &:hover {
            color: var(--brandColor);
            opacity: 1;
          }
        }
      }

      .logo {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        width: 70px;
        height: 90%;
        @media(max-width: 1800px) {
          margin: 0;
          position: relative;
        }
        svg {
          width: 100%;
          height: 100%;
          position: relative;
        }
      }

      .main-nav {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        @media (max-width: 1024px) {
          display: none;
        }
        .menu-amtele-menu-container {
          height: 100%;
          display: flex;
          align-items: center;
          ul {
            display: flex;
            height: 100%;
            position: relative;
            align-items: center;
            li {
              list-style: none;
              // margin-left: 34px;
              padding: 0 22px;
              height: 100%;
              position: relative;
              border-left: 1px solid var(--brandColor);
              // border-right: 1px solid var(--brandColor);
              display: flex;
              align-items: center;
              &:first-of-type {
                margin: 0;
              }
              a {
                color: $black;
                text-decoration: none;
                font-weight: 600;
                font-size: 14px;
              }
            }
          }
        }
      }

      .burger-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        width: 45px;
        height: 45px;
        cursor: pointer;
        position: relative;
        z-index: 999;
        display: none;
        @media (max-width: 1100px) {
          display: flex;
        }
        .lines-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: auto;
          // background: red;

          .line {
            width: 100%;
            height: 3px;
            background: black;
            margin-bottom: 10px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
        .text-wrapper {
          position: relative;
          height: 25px;
          width: 100%;
          overflow: hidden;
          position: absolute;
          bottom: -5px;
          left: 0;

          span {
            font-size: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 10px;
            transition: all ease 350ms;
            // background: rgba(green, 0.2);
          }

          span.initial {
            text-transform: uppercase;
            font-weight: 700;
          }

          span.secondary {
            text-transform: uppercase;
            font-weight: 700;
            transform: translateY(100%);
            opacity: 0;
          }
        }
        &.active {
          span {
            &.initial {
              transform: translateY(-100%);
              opacity: 0;
            }
            &.secondary {
              transform: translateY(-0%);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--brandColor);
  display: flex;
  justify-content: center;
  z-index: 9998;
  padding: 34px 0;
  transition: all ease 350ms;
  transform: translateY(-120%);
  &.active {
    transform: translateY(0%);
  }
  li {
    list-style: none;
    padding: 13px 0;
    a {
      color: $white;
      text-align: center;
      display: block;
      font-size: clamp(18px, 2vw, 22px);
      font-weight: 600;
      text-decoration: none;
    }
  }
}
