.hero-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding: 110px 0;
  border-radius: 25px 5px 25px 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: 1024px) {
    padding: 55px 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px 5px 25px 5px;
    z-index: 2;
  }

  .img-wrapper {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 34px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      border-radius: 25px 5px 25px 5px;
      filter: grayscale(100%);
      transition: all ease 5000ms;
    }
  }

  &.normal {
    .img-wrapper {
      background-color: rgba(0, 0, 0, 0.4);

      img {
        filter: initial;
      }
    }
  }

  &.red {
    .img-wrapper {
      background-color: $red;
    }
  }

  &.blue {
    .img-wrapper {
      background-color: $blue;
    }
  }

  .content-wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .content-inner {
      width: 1024px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 1100px) {
        width: calc(100% - 110px);
        margin: 0 55px;
      }

      @media (max-width: 768px) {
        width: calc(100% - 55px);
        margin: 0 22.5px;
        justify-content: flex-start;
      }

      h1 {
        text-align: center;
        color: $white;

        @media (max-width: 768px) {
          text-align: left;
        }
      }

      p {
        text-align: center;
        margin-bottom: 55px;
        color: $white;
        width: 600px;

        @media (max-width: 768px) {
          width: 100%;
          text-align: left;
        }
      }

      .button-wrapper {
        @media (max-width: 768px) {
          justify-content: flex-start;
        }
      }
    }
  }
}
