.image-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  .col {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    &.text {
      width: calc(50% - 55px);

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 55px;
      }
    }

    &.inverted {
      &.text {
        order: 2;

        @media (max-width: 768px) {
          order: 1;
        }
      }

      &.image {
        order: 1;

        @media (max-width: 768px) {
          order: 2;
        }
      }
    }

    img {
      border-radius: 25px 5px 25px 5px;
    }
  }
}
