// .wrapper {
//   &.page {
//     flex-wrap: wrap;
//     .inner {
//       .post-thumbnail-wrapper {
//         width: 100%;

//         img {
//           width: 100%;
//           height: 600px;
//           object-fit: cover;

//           @media (max-width: 1024px) {
//             height: 400px;
//           }
//         }
//       }
//     }
//     .inner {
//       &.the-content {
//         background: $white;
//         padding: 55px;
//         margin-top: -300px;

//         @media (max-width: 1024px) {
//           margin-top: 55px;
//           padding: 0;
//         }
//       }
//     }
//   }
// }
