* {
    // box-shadow: 0 0 0 1px red;
}

@supports (scroll-snap-align: start) {
  article {
    scroll-snap-type: y proximity;
    scroll-padding-top: 15vh;
    overflow-y: scroll;
  }
}

.product-archive-wrapper {
  scroll-snap-type: y proximity;
  scroll-padding-top: 15vh;
  // overflow-y: scroll;

  .scroll-section-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // position: -webkit-sticky;
    // position: sticky;
    top: 70px;
    right: 0;
    padding: 34px 0;
    z-index: 999;
    &:before {
      content: "";
      position: absolute;
      background: rgba(255,255,255,0.7);
      backdrop-filter: saturate(180%) blur(20px);
      background-color: rgba(255,255,255,0.72);
      z-index: -1;
      top: 0;
      left: -55px;
      width: calc(100% + 110px);
      height: 100%;
    }

    @media (max-width: 1150px) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      list-style: none;
      margin-right: 1rem;
      @media (max-width: 1150px) {
        width: calc(25% - 17px);
        margin: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 17px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: $white;
        text-decoration: none;
        background: var(--brandColor);
        padding: 13px;
        border-radius: 15px 5px 15px 5px;
        font-size: 14px;
        @media (max-width: 1150px) {
          width: 100%;
          display: block;
        }
      }
    }
  }

  .top-banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 34px;
    .icon-wrapper {
      border-radius: 100px;
      position: relative;
      width: 65px;
      height: 65px;
      background: var(--brandColor);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
        width: 30px;
        height: 30px;
      }
    }
    img {
      position: relative;
      width: 50%;
      height: 50%;
      box-shadow: none;
      border-radius: 0 !important;
    }
    h3 {
      margin-bottom: 0;
      margin-left: 17px;
      line-height: normal;

      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
  }
}

.taxonomy-wrapper {
  .top-category-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
    width: 960px;

    @media (max-width: 1100px) {
      width: 100%;
    }

    h1 {
      width: 100%;
      margin-bottom: 55px;
    }
    p {
      width: 100%;
      margin-bottom: 0;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 55px;

    // * {
    //   box-shadow: 0 0 0 1px red;
    // }

    h3 {
      width: 100%;
      margin-bottom: 55px;
    }

    .product-item {
      width: calc(33.33% - 27.5px);
      margin: 0 13.75px 27.5px 13.75px;
      padding: 22px;
      background-color: #dadada;
      border-radius: 25px 5px 25px 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      position: relative;
      @media (max-width: 1100px) {
        width: calc(50% - 27.5px);
      }
      @media (max-width: 600px) {
        width: 100%;
      }
      a {
        text-decoration: none;
      }
      img {
        margin-bottom: 34px;
        box-shadow: none;
        height: 300px;
        object-fit: cover;
        @media(max-width: 600px) {
          height: auto;
          object-fit: inital;
        }
        &.supplier-logo-tax {
          width: 120px;
          height: auto;
          border-radius: 0;
          margin-bottom: 0;
        }
      }
      h4 {
        //
      }
      h4,
      p {
        color: $black;
      }
      h4 {
        margin-bottom: 13px;
        font-size: 14px;
      }
      .button-wrapper  {
        justify-content: space-between;
      }
      .lev-logo {
        position: relative;
        display: flex;
        align-items: center;
        img {
          width: 120px;
          height: auto;
          border-radius: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .term-text-wrapper {
    width: 960px;

    @media (max-width: 1100px) {
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 34px;
    }
  }
}

section {
  padding: 110px 0;

  .term-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media(max-width: 1280px) {
      flex-wrap: wrap;
    }

    .term-group-wrapper {
      width: 100%;
      margin: 0 1%;
      padding: 17px;
      border-radius: 25px 5px 25px 5px;
      @media (max-width: 1280px) {
        width: calc(50% - 34px);
        margin-bottom: 34px;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 34px;
      }
      .term-title-wrapper {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 13px;
      }
      a {
        display: block;
        color: $black;
        margin-bottom: 13px;
      }
    }
  }
}

* {
  //   box-shadow: 0 0 0 1px red;
}
