.single-wrapper {
  .single-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .lev-logo-wrapper {
      margin-top: 2em;
      img {
        width: 300px;
        padding: 20px;
        height: auto;
        background: #e1e1e1;

        @media(max-width: 768px) {
          width: 150px;
        }
      }
    }

    .iframe-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      margin: 21px 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .title-wrapper {
      width: 100%;

      h1 {
        opacity: 0;
        transform: translateX(-20px);
        transition: all ease 500ms;

        &.in {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

    .col {
      width: 50%;
      transform: translateX(-20px);
      transition: all ease 500ms;
      opacity: 0;

      &.in {
        opacity: 1;
        transform: translateX(0px);
      }

      &.post-thumbnail {
        transition-delay: 200ms;
      }



      @media (max-width: 960px) {
        width: 100%;
        order: 2;

        &.post-thumbnail {
          order: 1;
        }
        &:not post-thumbnail {
          order: 1;
        }
      }

      &:nth-child(3) {
        width: 40%;

        @media (max-width: 960px) {
          width: 100%;
        }
      }

      .excerpt-wrapper {
        margin: 55px 0 110px 0;
        p {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .product-info-wrapper {

        h4 {
          border-bottom: 5px solid var(--brandColor);
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
      }

      .specifications-wrapper,
      .further-wrapper {
        margin-bottom: 34px;
        a {
          color: $black;
          display: flex;
          align-items: center;

          svg {
            margin-right: 0.5rem;
          }
        }
        h4 {
          border-bottom: 5px solid var(--brandColor);
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          background: rgba(var(--brandColor), 0.2);
          margin-bottom: 0.5rem;
          padding: 1rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          &:nth-child(even) {
            background: rgba(var(--brandColor), 0.4);
          }
        }

        .col {
          width: 50%;
          @media (max-width: 768px) {
            width: 100%;
            &:first-of-type {
              margin-bottom: 0.5rem;
              font-weight: 600;
            }
          }
        }
      }
    }

    .post-thumbnail {
      img {
        width: 100%;
        height: auto;
        box-shadow: none;
        border-radius: 0;
        object-fit: contain;
      }
    }

    .single-contact-wrapper {
      width: 100%;
      margin: 110px 0 55px 0;
      @media (max-width: 960px) {
        order: 3;
      }
      h2 {
        margin-bottom: 55px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .contact-item {
          width: 30%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          @media (max-width: 1100px) {
            width: 100%;
            margin-bottom: 34px;
          }
          img {
            width: 40%;
            height: 40%;
            object-fit: cover;

            @media(max-width: 1500px) {
              width: 100%;
            }
          }
          .meta {
            width: 50%;
            @media(max-width: 1500px) {
              width: 100%;
              margin-top: 1em;
            }
            h4 {
              margin-bottom: 0.5rem;
            }
            h5 {
              display: none;
            }
            p {
              margin-bottom: 0.5rem;
              // &:last-of-type {
              //   display: none;
              // }
            }
            a {
              text-decoration: none;
              color: $dark;
            }
          }
        }
      }
    }
  }
}
