* {
  //   box-shadow: 0 0 0 1px black;
}

.staff-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;

  .staff-item {
    width: calc(50% - 55px);
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1100px) {
      width: 100%;
      margin-bottom: 55px;
    }

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    .staff-image {
      width: calc(50% - 34px);

      @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 34px;
      }

      img {
        border-radius: 25px 5px 25px 5px;
      }
    }

    .staff-meta {
      width: calc(50% - 34px);

      @media (max-width: 600px) {
        width: 100%;
      }

      h5 {
        margin-bottom: 13px;
        font-weight: 200;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: clamp(16px, 2vw, 18px);
      }

      h4 {
        margin-bottom: 34px;
        font-size: clamp(22px, 2vw, 24px);
      }

      p {
        margin-bottom: 13px;
      }

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }
}
