* {
  // box-shadow: 0 0 0 1px black;
}

.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 55px;

  @media (max-width: 768px) {
    width: 100%;
  }

  label {
    width: 100%;
    margin-bottom: 13px;
    font-size: clamp(18px, 1vw, 22px);
    font-weight: 600;
  }
  input {
    width: 100%;
  }
}

.suppliers-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    width: 29.33%;
    transition: all ease 350ms;
    margin-bottom: 55px;

    @media (max-width: 768px) {
      width: 100%;
    }

    &.hide {
      opacity: 0;
      transform: translateY(23px);
    }

    &.display-none {
      display: none;
    }

    .logo-wrapper {
      background-color: #e3e3e3;
      border-radius: 25px 5px 25px 5px;
      margin-bottom: 13px;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        padding: 34px;
      }
    }

    h4 {
      padding: 0 13px;
      margin-bottom: 13px;
    }

    p {
      padding: 0 13px;
      margin-bottom: 13px;
    }

    .link {
      padding: 0 13px;
      margin: 0;
      a {
        color: $black;
      }
    }
  }
}

.empty-bin-wrapper {
  opacity: 0;
  transition: all ease 350ms;
  transform: translateY(23px);

  &.posts-found {
    opacity: 1;
    transform: translateY(0px);
  }
}
