a:not(.button) {
    text-decoration: underline;
    transition: all ease 250ms;

    &:hover {
        text-decoration: underline;
        opacity: 0.4;
    }
}
p {
    a {
        text-decoration: underline!important;
    }
}
.link-item {
    text-decoration: underline!important;
    transition: all ease 250ms;

    &:hover {
        text-decoration: underline;
        opacity: 0.4;
    }
}

.suppliers-cards .card .link a {
    &:hover {
        text-decoration: underline;
        opacity: 0.4;
    }
}