// Font families
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Hind Guntur", sans-serif;

// Font weights
$bold: 700;
$regular: 400;
$light: 300;
$extra_light: 300;

// Specific rules for fluid typgraphy

h1 {
  font-size: clamp(28px, 5vw, 82px);
  font-weight: 700;
  line-height: 110%;
  font-family: $secondary-font;
  text-transform: uppercase;
  word-break: break-word;
}

h2,
.gform_title {
  font-size: clamp(34px, 1vw, 65px);
  font-weight: 700;
  line-height: 110%;
  font-family: $secondary-font;
  margin-bottom: 34px;

  text-transform: uppercase;

  @media (max-width: 1024px) {
    margin-bottom: 13px;
  }
}

h3 {
  font-size: clamp(20px, 1vw, 38px);
  font-weight: 700;
  line-height: 130%;
  font-family: $primary-font;
  margin-bottom: 34px;
}

h4 {
  font-size: clamp(18px, 1vw, 24px);
  font-weight: 700;
  line-height: 130%;
  font-family: $primary-font;
  margin-bottom: 34px;
}

h5 {
  font-size: clamp(18px, 1vw, 22px);
  font-weight: 700;
  line-height: 130%;
  font-family: $primary-font;
  margin-bottom: 34px;

  @media (max-width: 1024px) {
    margin-bottom: 13px;
  }
}

h6 {
  font-size: clamp(16px, 1vw, 18px);
  font-weight: 700;
  line-height: 130%;
  font-family: $primary-font;
  margin-bottom: 34px;

  @media (max-width: 1024px) {
    margin-bottom: 13px;
  }
}

p {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 2rem;
}

.button {
  font-size: clamp(12px, 1vw, 18px);
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  font-size: clamp(12px, 1vw, 14px);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  a {
    color: $black;
    text-decoration: underline;
  }
}

.menu-item {
  font-size: clamp(18px, 1vw, 16px);
  font-weight: 600;
  text-decoration: none;
}

ul, ol {
  padding-left: 22px;
}
