h1 {
  font-size: clamp(28px, 5vw, 82px);
  font-weight: 700;
  line-height: 110%;
  font-family: "Hind Guntur", sans-serif;
  text-transform: uppercase;
  word-break: break-word;
}

h2,
.gform_title {
  font-size: clamp(34px, 1vw, 65px);
  font-weight: 700;
  line-height: 110%;
  font-family: "Hind Guntur", sans-serif;
  margin-bottom: 34px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  h2,
.gform_title {
    margin-bottom: 13px;
  }
}

h3 {
  font-size: clamp(20px, 1vw, 38px);
  font-weight: 700;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 34px;
}

h4 {
  font-size: clamp(18px, 1vw, 24px);
  font-weight: 700;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 34px;
}

h5 {
  font-size: clamp(18px, 1vw, 22px);
  font-weight: 700;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 34px;
}
@media (max-width: 1024px) {
  h5 {
    margin-bottom: 13px;
  }
}

h6 {
  font-size: clamp(16px, 1vw, 18px);
  font-weight: 700;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 34px;
}
@media (max-width: 1024px) {
  h6 {
    margin-bottom: 13px;
  }
}

p {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 2rem;
}

.button {
  font-size: clamp(12px, 1vw, 18px);
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  font-size: clamp(12px, 1vw, 14px);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p a {
  color: #000;
  text-decoration: underline;
}

.menu-item {
  font-size: clamp(18px, 1vw, 16px);
  font-weight: 600;
  text-decoration: none;
}

ul, ol {
  padding-left: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.cc-window {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ml12 .letter {
  display: inline-block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-snap-type: y proximity;
  /* Reserve space for header plus some extra space for sneak peeking. */
  scroll-padding-top: 150px;
  overflow-y: scroll;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-wrapper svg {
  width: 150px;
  height: 75px;
}
.spinner-wrapper svg .A1 {
  opacity: 0;
  transform: translateX(-20%);
  transition: all ease-in-out 650ms;
}
.spinner-wrapper svg .A1.in {
  opacity: 1;
  transform: translateX(0%);
}
.spinner-wrapper svg .A2 {
  opacity: 0;
  transform: translateX(-20%);
  transition: all ease 650ms;
  transition-delay: 250ms;
}
.spinner-wrapper svg .A2.in {
  opacity: 1;
  transform: translateX(0%);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.page-wrapper .page-inner {
  width: 100%;
  padding-top: 125px;
}

.archive-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.archive-wrapper .archive-inner {
  width: 100%;
  padding-top: 155px;
}

.taxonomy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.taxonomy-wrapper .taxonomy-inner {
  width: 100%;
  padding-top: 155px;
}

.single-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.single-wrapper .single-inner {
  width: 100%;
  padding-top: 155px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.wrapper .inner {
  width: 1920px;
}
@media (max-width: 1920px) {
  .wrapper .inner {
    width: calc(100% - 110px);
    margin: 0 55px;
  }
}
.wrapper .inner.the-content {
  width: 912px;
}
@media (max-width: 768px) {
  .wrapper .inner {
    width: calc(100% - 22px);
    margin: 0 11px;
  }
}

.block {
  margin-bottom: 55px;
  opacity: 0;
  transform: translateY(50px);
  transition: all ease 350ms;
  transition-delay: 0.5s;
}
.block.show {
  transform: translateY(0px);
  opacity: 1;
}
@media (max-width: 1024px) {
  .block {
    margin-bottom: 55px;
  }
}

img,
.img-wrapper {
  width: 100%;
  height: auto;
  border-radius: 25px 5px 25px 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.img-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 25px 5px 25px 5px;
}
.img-wrapper:before {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
  border-radius: 25px 5px 25px 5px;
}
@media (max-width: 600px) {
  .img-wrapper {
    height: 50vmin;
  }
}
.img-wrapper img {
  border-radius: 25px 5px 25px 5px;
  flex: 1 0 100%;
  height: 100%;
  max-width: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  opacity: 1;
  position: relative;
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button-wrapper.flex-start {
  justify-content: flex-start;
}
.button-wrapper.flex-end {
  justify-content: flex-end;
}
.button-wrapper .button {
  color: #ffffff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 15px 7px 15px 7px;
  transition: all ease 350ms;
}
.button-wrapper .button.red {
  background: #e62644;
}
.button-wrapper .button.blue {
  background: #0072bb;
}
.button-wrapper .button.white {
  background: #ffffff;
  color: #000;
}
.button-wrapper .button.black {
  background: #000;
}
.button-wrapper .button:hover {
  border-radius: 7px 15px 7px 15px;
}
.button-wrapper .button:hover.red {
  background: rgba(230, 38, 68, 0.8);
}
.button-wrapper .button:hover.blue {
  background: rgba(0, 114, 187, 0.8);
}
.button-wrapper .button:hover.white {
  background: rgba(255, 255, 255, 0.8);
}
.button-wrapper .button:hover.black {
  background: rgba(0, 0, 0, 0.8);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header.active {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
}
header .wrapper {
  position: relative;
  height: 100%;
}
header .wrapper .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}
@media (max-width: 1440px) {
  header .wrapper .inner {
    justify-content: space-between;
  }
}
header .wrapper .inner .lang-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 17px;
  border-right: 1px solid var(--brandColor);
  height: 100%;
}
header .wrapper .inner .lang-container a {
  color: #000;
  text-decoration: none;
  width: 100%;
  opacity: 0.5;
}
header .wrapper .inner .lang-container a.current {
  color: var(--brandColor);
  opacity: 1;
}
header .wrapper .inner .lang-container a:hover {
  color: var(--brandColor);
  opacity: 1;
}
header .wrapper .inner .logo {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  width: 70px;
  height: 90%;
}
@media (max-width: 1800px) {
  header .wrapper .inner .logo {
    margin: 0;
    position: relative;
  }
}
header .wrapper .inner .logo svg {
  width: 100%;
  height: 100%;
  position: relative;
}
header .wrapper .inner .main-nav {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  header .wrapper .inner .main-nav {
    display: none;
  }
}
header .wrapper .inner .main-nav .menu-amtele-menu-container {
  height: 100%;
  display: flex;
  align-items: center;
}
header .wrapper .inner .main-nav .menu-amtele-menu-container ul {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
}
header .wrapper .inner .main-nav .menu-amtele-menu-container ul li {
  list-style: none;
  padding: 0 22px;
  height: 100%;
  position: relative;
  border-left: 1px solid var(--brandColor);
  display: flex;
  align-items: center;
}
header .wrapper .inner .main-nav .menu-amtele-menu-container ul li:first-of-type {
  margin: 0;
}
header .wrapper .inner .main-nav .menu-amtele-menu-container ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
header .wrapper .inner .burger-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
  z-index: 999;
  display: none;
}
@media (max-width: 1100px) {
  header .wrapper .inner .burger-wrapper {
    display: flex;
  }
}
header .wrapper .inner .burger-wrapper .lines-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
header .wrapper .inner .burger-wrapper .lines-wrapper .line {
  width: 100%;
  height: 3px;
  background: black;
  margin-bottom: 10px;
}
header .wrapper .inner .burger-wrapper .lines-wrapper .line:last-of-type {
  margin-bottom: 0;
}
header .wrapper .inner .burger-wrapper .text-wrapper {
  position: relative;
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
}
header .wrapper .inner .burger-wrapper .text-wrapper span {
  font-size: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 10px;
  transition: all ease 350ms;
}
header .wrapper .inner .burger-wrapper .text-wrapper span.initial {
  text-transform: uppercase;
  font-weight: 700;
}
header .wrapper .inner .burger-wrapper .text-wrapper span.secondary {
  text-transform: uppercase;
  font-weight: 700;
  transform: translateY(100%);
  opacity: 0;
}
header .wrapper .inner .burger-wrapper.active span.initial {
  transform: translateY(-100%);
  opacity: 0;
}
header .wrapper .inner .burger-wrapper.active span.secondary {
  transform: translateY(0%);
  opacity: 1;
}

.mobile-nav {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--brandColor);
  display: flex;
  justify-content: center;
  z-index: 9998;
  padding: 34px 0;
  transition: all ease 350ms;
  transform: translateY(-120%);
}
.mobile-nav.active {
  transform: translateY(0%);
}
.mobile-nav li {
  list-style: none;
  padding: 13px 0;
}
.mobile-nav li a {
  color: #ffffff;
  text-align: center;
  display: block;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 600;
  text-decoration: none;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding: 110px 0;
  border-radius: 25px 5px 25px 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1024px) {
  .hero-wrapper {
    padding: 55px 0;
  }
}
.hero-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px 5px 25px 5px;
  z-index: 2;
}
.hero-wrapper .img-wrapper {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 34px;
}
.hero-wrapper .img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 25px 5px 25px 5px;
  filter: grayscale(100%);
  transition: all ease 5000ms;
}
.hero-wrapper.normal .img-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
}
.hero-wrapper.normal .img-wrapper img {
  filter: initial;
}
.hero-wrapper.red .img-wrapper {
  background-color: #e62644;
}
.hero-wrapper.blue .img-wrapper {
  background-color: #0072bb;
}
.hero-wrapper .content-wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-wrapper .content-wrapper .content-inner {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1100px) {
  .hero-wrapper .content-wrapper .content-inner {
    width: calc(100% - 110px);
    margin: 0 55px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .content-wrapper .content-inner {
    width: calc(100% - 55px);
    margin: 0 22.5px;
    justify-content: flex-start;
  }
}
.hero-wrapper .content-wrapper .content-inner h1 {
  text-align: center;
  color: #ffffff;
}
@media (max-width: 768px) {
  .hero-wrapper .content-wrapper .content-inner h1 {
    text-align: left;
  }
}
.hero-wrapper .content-wrapper .content-inner p {
  text-align: center;
  margin-bottom: 55px;
  color: #ffffff;
  width: 600px;
}
@media (max-width: 768px) {
  .hero-wrapper .content-wrapper .content-inner p {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .content-wrapper .content-inner .button-wrapper {
    justify-content: flex-start;
  }
}

.gateway-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gateway-wrapper .gateway {
  width: calc(50% - 34px);
}
@media (max-width: 1024px) {
  .gateway-wrapper .gateway {
    width: calc(50% - 34px);
  }
}
@media (max-width: 600px) {
  .gateway-wrapper .gateway {
    width: 100%;
    margin-bottom: 34px;
  }
}
.gateway-wrapper .gateway img {
  width: 100%;
  height: auto;
  border-radius: 25px 5px 25px 5px;
  position: relative;
}
.gateway-wrapper .gateway.engineering .img-wrapper {
  height: 30vmin;
  background-color: #e62644;
  margin-bottom: 34px;
}
.gateway-wrapper .gateway.engineering .img-wrapper img {
  filter: grayscale(100%);
}
.gateway-wrapper .gateway.engineering h2 {
  color: #e62644;
}
.gateway-wrapper .gateway.communications .img-wrapper {
  height: 30vmin;
  background-color: #0072bb;
  margin-bottom: 34px;
}
.gateway-wrapper .gateway.communications .img-wrapper img {
  filter: grayscale(100%);
}
.gateway-wrapper .gateway.communications h2 {
  color: #0072bb;
}

.call-to-action-wrapper {
  padding: 15vmin 0;
  position: relative;
}
@media (max-width: 1024px) {
  .call-to-action-wrapper {
    padding: 10vmin 0;
  }
}
.call-to-action-wrapper .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: top;
}
.call-to-action-wrapper .background-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 114, 187, 0.3);
}
.call-to-action-wrapper .inner {
  width: 960px;
  position: relative;
  z-index: 3;
}
.call-to-action-wrapper .inner * {
  text-align: center;
}
.call-to-action-wrapper .inner blockquote * {
  text-align: left;
  font-size: clamp(22px, 2vw, 32px);
  color: #ffffff;
  font-weight: 400;
}
.call-to-action-wrapper .inner blockquote strong {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
}
.call-to-action-wrapper .inner blockquote h1,
.call-to-action-wrapper .inner blockquote h2,
.call-to-action-wrapper .inner blockquote h3,
.call-to-action-wrapper .inner blockquote h4,
.call-to-action-wrapper .inner blockquote h5,
.call-to-action-wrapper .inner blockquote h6 {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 28px);
}
@media (max-width: 768px) {
  .call-to-action-wrapper .inner * {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .call-to-action-wrapper .inner {
    width: calc(100% - 22.5px);
  }
  .call-to-action-wrapper .inner .button-wrapper {
    justify-content: flex-start;
  }
}

#gform_confirmation_wrapper_1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--brandColor);
  padding: 17px 0;
}
#gform_confirmation_wrapper_1.out {
  display: none;
}
#gform_confirmation_wrapper_1 * {
  color: white;
  text-align: center;
}

input {
  border: 2px solid #000;
  padding: 13px !important;
  border-radius: 10px 5px 10px 5px;
}

textarea {
  border: 2px solid #000;
  padding: 13px !important;
  border-radius: 10px 5px 10px 5px;
}

.gform_wrapper {
  padding: 110px 0;
}
@media (max-width: 1024px) {
  .gform_wrapper {
    padding: 55px 0;
  }
}
.gform_wrapper * {
  margin: 0;
  padding: 0;
}
.gform_wrapper .gform_title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}
.gform_wrapper form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.gform_wrapper form .gform_body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gform_wrapper form .gform_body .gform_fields {
  width: 70%;
  display: flex;
}
@media (max-width: 1024px) {
  .gform_wrapper form .gform_body .gform_fields {
    width: 100%;
  }
}
.gform_wrapper form .gfield_required {
  display: none;
}
.gform_wrapper form #gform_fields_1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column-gap: initial;
  grid-row-gap: initial;
  position: relative;
}
.gform_wrapper form #gform_fields_1 .new {
  width: 48%;
}
.gform_wrapper form #gform_fields_1 .gfield {
  width: 100%;
  margin-bottom: 34px;
  display: flex;
  width: 100%;
}
.gform_wrapper form #gform_fields_1 .gfield * {
  width: 100%;
}
@media (max-width: 767px) {
  .gform_wrapper form #gform_fields_1 .gfield:nth-child(1) {
    order: 1;
  }
  .gform_wrapper form #gform_fields_1 .gfield:nth-child(2) {
    order: 2;
  }
  .gform_wrapper form #gform_fields_1 .gfield:nth-child(3) {
    order: 4;
  }
  .gform_wrapper form #gform_fields_1 .gfield:nth-child(4) {
    order: 3;
  }
}
.gform_wrapper form .gform_footer {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  transform: translateY(-110%);
}
@media (max-width: 1024px) {
  .gform_wrapper form .gform_footer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .gform_wrapper form .gform_footer {
    transform: translateY(0);
  }
}
.gform_wrapper form input[type=submit] {
  background: var(--brandColor);
  color: #ffffff;
  border: none;
  padding: 1rem 2rem !important;
  text-decoration: none;
  border-radius: 15px 7px 15px 7px;
  transition: all ease 350ms;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(12px, 1vw, 18px);
}
.gform_wrapper form .gfield_checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gform_wrapper form .ginput_container_consent,
.gform_wrapper form .ginput_container_checkbox {
  display: flex;
  align-items: center;
}
.gform_wrapper form .ginput_container_consent > label,
.gform_wrapper form .ginput_container_checkbox > label {
  position: relative;
  padding-left: 34px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  display: block;
}
.gform_wrapper form .ginput_container_consent > label:before,
.gform_wrapper form .ginput_container_checkbox > label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background: #ffffff;
  z-index: 999;
  transition: all ease 250ms;
  border: 2px solid #000;
  border-radius: 5px 2px 5px 2px;
}
.gform_wrapper form .ginput_container_consent > input,
.gform_wrapper form .ginput_container_checkbox > input {
  display: none;
}
.gform_wrapper form .ginput_container_consent > input:checked ~ label:before,
.gform_wrapper form .ginput_container_checkbox > input:checked ~ label:before {
  background: var(--brandColor);
  border-color: var(--brandColor);
}
.gform_wrapper form .ginput_container_consent .gchoice,
.gform_wrapper form .ginput_container_checkbox .gchoice {
  width: 100%;
}
.gform_wrapper form .ginput_container_consent .gchoice input,
.gform_wrapper form .ginput_container_checkbox .gchoice input {
  display: none;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.gform_wrapper form .ginput_container_consent .gchoice input:checked ~ label:before,
.gform_wrapper form .ginput_container_checkbox .gchoice input:checked ~ label:before {
  background-color: #fdb227;
}
.gform_wrapper form .ginput_container_consent .gchoice input:checked ~ label:after,
.gform_wrapper form .ginput_container_checkbox .gchoice input:checked ~ label:after {
  margin-left: 20px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.gform_wrapper form .ginput_container_consent .gchoice label,
.gform_wrapper form .ginput_container_checkbox .gchoice label {
  position: relative;
  padding-left: 13px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.gform_wrapper form .ginput_container_consent .gchoice label:before,
.gform_wrapper form .ginput_container_checkbox .gchoice label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 50px;
  height: 30px;
  background: #ececec;
  z-index: 999;
  transition: all ease 250ms;
  border-radius: 100px;
  outline: 1px solid black;
}
.gform_wrapper form .ginput_container_consent .gchoice label:after,
.gform_wrapper form .ginput_container_checkbox .gchoice label:after {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 30px;
  height: 30px;
  background: white;
  outline: 0.5px solid black;
  border: 1px solid black;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: all ease 250ms;
  border-radius: 100px;
}
.gform_wrapper #gform_ajax_spinner_1 {
  width: 30px;
  height: 30px;
  margin-left: 13px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.gform_validation_errors {
  background: rgba(var(--brandColor), 20%) !important;
  border-radius: 10px 5px 10px 5px !important;
  margin: 0;
  padding: 13px !important;
  border: none;
  font-family: "Montserrat", sans-serif !important;
}

.gform_description {
  display: none !important;
}

#gform_wrapper_4 .gform_footer {
  bottom: initial;
}

.gform-icon {
  display: none !important;
}

.gfield_validation_message {
  border-radius: 10px 5px 10px 5px;
}

.gform_wrapper .gform_validation_errors > h2 {
  color: var(--brandColor) !important;
  text-align: center;
  line-height: 0;
  font-size: 14px !important;
}

.gform_wrapper .gform_validation_errors {
  border: 1px solid var(--brandColor) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.gform_wrapper .gfield_validation_message, .gform_wrapper .validation_message {
  border: 1px solid var(--brandColor) !important;
  background: white !important;
  color: var(--brandColor) !important;
  margin: 34px 0 !important;
}

.gfield_consent_label {
  color: var(--brandColor) !important;
}

.wpcf7-field-group-remove {
  border: none;
  outline: none;
  background: none;
}

.wpcf7-field-group-add, .wpcf7-field-group-remove {
  border: none;
  outline: none;
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 7px 4px 7px 4px;
  border: 2px solid #000;
  margin-right: 13px;
}

select {
  padding: 13px;
  border: none;
  border: 2px solid #000;
  border-radius: 7px 4px 7px 4px;
  width: 100%;
}

.form-item {
  margin-bottom: 21px;
}
.form-item h4 {
  margin: 0 0 13px 0;
}
.form-item p {
  margin: 0;
}

.wpcf7-field-group {
  background: rgba(0, 0, 0, 0.03);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 21px;
  border-radius: 10px 2px 10px 2px;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.wpcf7-field-group .form-item {
  width: 30%;
}
@media (max-width: 768px) {
  .wpcf7-field-group .form-item {
    width: 100%;
  }
}
.wpcf7-field-group p {
  margin-bottom: 0;
  width: 100%;
}

.wpcf7 {
  display: flex;
  justify-content: flex-start;
}
.wpcf7 .wpcf7-field-groups {
  width: 960px;
}
@media (max-width: 960px) {
  .wpcf7 .wpcf7-field-groups {
    width: 100%;
  }
}
.wpcf7 input {
  width: 100%;
}
.wpcf7 input[type=submit] {
  width: auto;
}

.image-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.image-text-wrapper .col {
  width: 50%;
}
@media (max-width: 768px) {
  .image-text-wrapper .col {
    width: 100%;
  }
}
.image-text-wrapper .col.text {
  width: calc(50% - 55px);
}
@media (max-width: 768px) {
  .image-text-wrapper .col.text {
    width: 100%;
    margin-bottom: 55px;
  }
}
.image-text-wrapper .col.inverted.text {
  order: 2;
}
@media (max-width: 768px) {
  .image-text-wrapper .col.inverted.text {
    order: 1;
  }
}
.image-text-wrapper .col.inverted.image {
  order: 1;
}
@media (max-width: 768px) {
  .image-text-wrapper .col.inverted.image {
    order: 2;
  }
}
.image-text-wrapper .col img {
  border-radius: 25px 5px 25px 5px;
}

.staff-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.staff-wrapper .staff-item {
  width: calc(50% - 55px);
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1100px) {
  .staff-wrapper .staff-item {
    width: 100%;
    margin-bottom: 55px;
  }
}
@media (max-width: 600px) {
  .staff-wrapper .staff-item {
    flex-wrap: wrap;
  }
}
.staff-wrapper .staff-item .staff-image {
  width: calc(50% - 34px);
}
@media (max-width: 600px) {
  .staff-wrapper .staff-item .staff-image {
    width: 100%;
    margin-bottom: 34px;
  }
}
.staff-wrapper .staff-item .staff-image img {
  border-radius: 25px 5px 25px 5px;
}
.staff-wrapper .staff-item .staff-meta {
  width: calc(50% - 34px);
}
@media (max-width: 600px) {
  .staff-wrapper .staff-item .staff-meta {
    width: 100%;
  }
}
.staff-wrapper .staff-item .staff-meta h5 {
  margin-bottom: 13px;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Hind Guntur", sans-serif;
  font-size: clamp(16px, 2vw, 18px);
}
.staff-wrapper .staff-item .staff-meta h4 {
  margin-bottom: 34px;
  font-size: clamp(22px, 2vw, 24px);
}
.staff-wrapper .staff-item .staff-meta p {
  margin-bottom: 13px;
}
.staff-wrapper .staff-item .staff-meta a {
  text-decoration: none;
  color: #000;
}

.available-positions-wrapper h2 {
  border-bottom: 5px solid #000;
  padding-bottom: 13px;
  margin-bottom: 0;
}
.available-positions-wrapper ul.available-positions-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.available-positions-wrapper ul.available-positions-items-wrapper li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 13px;
}
.available-positions-wrapper ul.available-positions-items-wrapper li:nth-child(odd) {
  background: #e5e5e5;
}
.available-positions-wrapper ul.available-positions-items-wrapper li:nth-child(even) {
  background: #cecece;
}
.available-positions-wrapper ul.available-positions-items-wrapper li h4 {
  width: 33.33%;
  font-weight: 300;
}
@media (max-width: 768px) {
  .available-positions-wrapper ul.available-positions-items-wrapper li h4 {
    width: 100%;
    margin-bottom: 13px;
  }
  .available-positions-wrapper ul.available-positions-items-wrapper li h4:last-of-type {
    margin-bottom: 0;
  }
}

.columns-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .columns-wrapper {
    flex-wrap: wrap;
  }
}
.columns-wrapper .colum {
  width: calc(33.33% - 34px);
}
@media (max-width: 768px) {
  .columns-wrapper .colum {
    width: 100%;
    margin-bottom: 34px;
  }
}
.columns-wrapper .colum img {
  margin-bottom: 13px;
  height: 300px;
  object-fit: cover;
}
.columns-wrapper.center {
  justify-content: center;
}
.columns-wrapper.center .colum {
  margin: 0 17px;
}
.columns-wrapper.space-between {
  justify-content: space-between;
}
.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .search-wrapper {
    width: 100%;
  }
}
.search-wrapper label {
  width: 100%;
  margin-bottom: 13px;
  font-size: clamp(18px, 1vw, 22px);
  font-weight: 600;
}
.search-wrapper input {
  width: 100%;
}

.suppliers-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.suppliers-cards .card {
  width: 29.33%;
  transition: all ease 350ms;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .suppliers-cards .card {
    width: 100%;
  }
}
.suppliers-cards .card.hide {
  opacity: 0;
  transform: translateY(23px);
}
.suppliers-cards .card.display-none {
  display: none;
}
.suppliers-cards .card .logo-wrapper {
  background-color: #e3e3e3;
  border-radius: 25px 5px 25px 5px;
  margin-bottom: 13px;
}
.suppliers-cards .card .logo-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 34px;
}
.suppliers-cards .card h4 {
  padding: 0 13px;
  margin-bottom: 13px;
}
.suppliers-cards .card p {
  padding: 0 13px;
  margin-bottom: 13px;
}
.suppliers-cards .card .link {
  padding: 0 13px;
  margin: 0;
}
.suppliers-cards .card .link a {
  color: #000;
}

.empty-bin-wrapper {
  opacity: 0;
  transition: all ease 350ms;
  transform: translateY(23px);
}
.empty-bin-wrapper.posts-found {
  opacity: 1;
  transform: translateY(0px);
}

.gateway-products-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.gateway-products-wrapper h2 {
  text-align: center;
  width: 100%;
}
.gateway-products-wrapper .product-item {
  list-style: none;
  width: 25%;
}
@media (max-width: 1050px) {
  .gateway-products-wrapper .product-item {
    width: 50%;
    margin-bottom: 34px;
  }
}
@media (max-width: 650px) {
  .gateway-products-wrapper .product-item {
    width: 100%;
    margin-bottom: 34px;
  }
}
.gateway-products-wrapper .product-item a {
  color: #000;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.gateway-products-wrapper .product-item a .image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
@media (max-width: 1550px) {
  .gateway-products-wrapper .product-item a .image-wrapper {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1100px) {
  .gateway-products-wrapper .product-item a .image-wrapper {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .gateway-products-wrapper .product-item a .image-wrapper {
    width: 250px;
    height: 250px;
    margin: 0 auto 34px auto;
  }
}
@media (max-width: 400px) {
  .gateway-products-wrapper .product-item a .image-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto 34px auto;
  }
}
.gateway-products-wrapper .product-item a .image-wrapper img {
  position: relative;
  width: 50%;
  height: 50%;
  box-shadow: none;
}
.gateway-products-wrapper .product-item a .image-wrapper.red {
  background: #e62644;
}
.gateway-products-wrapper .product-item a .image-wrapper.blue {
  background: #0072bb;
}
.gateway-products-wrapper .product-item a h4 {
  width: 100%;
}

.single-wrapper .single-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-wrapper .single-inner .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 21px 0;
}
.single-wrapper .single-inner .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-wrapper .single-inner .title-wrapper {
  width: 100%;
}
.single-wrapper .single-inner .title-wrapper h1 {
  opacity: 0;
  transform: translateX(-20px);
  transition: all ease 500ms;
}
.single-wrapper .single-inner .title-wrapper h1.in {
  opacity: 1;
  transform: translateX(0px);
}
.single-wrapper .single-inner .col {
  width: 50%;
  transform: translateX(-20px);
  transition: all ease 500ms;
  opacity: 0;
}
.single-wrapper .single-inner .col.in {
  opacity: 1;
  transform: translateX(0px);
}
.single-wrapper .single-inner .col.post-thumbnail {
  transition-delay: 200ms;
}
@media (max-width: 960px) {
  .single-wrapper .single-inner .col {
    width: 100%;
    order: 2;
  }
  .single-wrapper .single-inner .col.post-thumbnail {
    order: 1;
  }
  .single-wrapper .single-inner .col:not post-thumbnail {
    order: 1;
  }
}
.single-wrapper .single-inner .col:nth-child(3) {
  width: 40%;
}
@media (max-width: 960px) {
  .single-wrapper .single-inner .col:nth-child(3) {
    width: 100%;
  }
}
.single-wrapper .single-inner .col .excerpt-wrapper {
  margin: 55px 0 110px 0;
}
.single-wrapper .single-inner .col .excerpt-wrapper p {
  font-size: 18px;
  font-weight: 600;
}
.single-wrapper .single-inner .col .product-info-wrapper h4 {
  border-bottom: 5px solid var(--brandColor);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.single-wrapper .single-inner .col .specifications-wrapper,
.single-wrapper .single-inner .col .further-wrapper {
  margin-bottom: 34px;
}
.single-wrapper .single-inner .col .specifications-wrapper a,
.single-wrapper .single-inner .col .further-wrapper a {
  color: #000;
  display: flex;
  align-items: center;
}
.single-wrapper .single-inner .col .specifications-wrapper a svg,
.single-wrapper .single-inner .col .further-wrapper a svg {
  margin-right: 0.5rem;
}
.single-wrapper .single-inner .col .specifications-wrapper h4,
.single-wrapper .single-inner .col .further-wrapper h4 {
  border-bottom: 5px solid var(--brandColor);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.single-wrapper .single-inner .col .specifications-wrapper .row,
.single-wrapper .single-inner .col .further-wrapper .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: rgba(var(--brandColor), 0.2);
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.single-wrapper .single-inner .col .specifications-wrapper .row:last-of-type,
.single-wrapper .single-inner .col .further-wrapper .row:last-of-type {
  margin-bottom: 0;
}
.single-wrapper .single-inner .col .specifications-wrapper .row:nth-child(even),
.single-wrapper .single-inner .col .further-wrapper .row:nth-child(even) {
  background: rgba(var(--brandColor), 0.4);
}
.single-wrapper .single-inner .col .specifications-wrapper .col,
.single-wrapper .single-inner .col .further-wrapper .col {
  width: 50%;
}
@media (max-width: 768px) {
  .single-wrapper .single-inner .col .specifications-wrapper .col,
.single-wrapper .single-inner .col .further-wrapper .col {
    width: 100%;
  }
  .single-wrapper .single-inner .col .specifications-wrapper .col:first-of-type,
.single-wrapper .single-inner .col .further-wrapper .col:first-of-type {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}
.single-wrapper .single-inner .post-thumbnail img {
  width: 100%;
  height: auto;
  box-shadow: none;
  border-radius: 0;
  object-fit: contain;
}
.single-wrapper .single-inner .single-contact-wrapper {
  width: 100%;
  margin: 110px 0 55px 0;
}
@media (max-width: 960px) {
  .single-wrapper .single-inner .single-contact-wrapper {
    order: 3;
  }
}
.single-wrapper .single-inner .single-contact-wrapper h2 {
  margin-bottom: 55px;
}
.single-wrapper .single-inner .single-contact-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1100px) {
  .single-wrapper .single-inner .single-contact-wrapper ul .contact-item {
    width: 100%;
    margin-bottom: 34px;
  }
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}
@media (max-width: 1500px) {
  .single-wrapper .single-inner .single-contact-wrapper ul .contact-item img {
    width: 100%;
  }
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item .meta {
  width: 50%;
}
@media (max-width: 1500px) {
  .single-wrapper .single-inner .single-contact-wrapper ul .contact-item .meta {
    width: 100%;
    margin-top: 1em;
  }
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item .meta h4 {
  margin-bottom: 0.5rem;
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item .meta h5 {
  display: none;
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item .meta p {
  margin-bottom: 0.5rem;
}
.single-wrapper .single-inner .single-contact-wrapper ul .contact-item .meta a {
  text-decoration: none;
  color: #181818;
}

@supports (scroll-snap-align: start) {
  article {
    scroll-snap-type: y proximity;
    scroll-padding-top: 15vh;
    overflow-y: scroll;
  }
}
.product-archive-wrapper {
  scroll-snap-type: y proximity;
  scroll-padding-top: 15vh;
}
.product-archive-wrapper .scroll-section-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 70px;
  right: 0;
  padding: 34px 0;
  z-index: 999;
}
.product-archive-wrapper .scroll-section-nav:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  z-index: -1;
  top: 0;
  left: -55px;
  width: calc(100% + 110px);
  height: 100%;
}
@media (max-width: 1150px) {
  .product-archive-wrapper .scroll-section-nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.product-archive-wrapper .scroll-section-nav li {
  list-style: none;
  margin-right: 1rem;
}
@media (max-width: 1150px) {
  .product-archive-wrapper .scroll-section-nav li {
    width: calc(25% - 17px);
    margin: 0;
  }
}
@media (max-width: 768px) {
  .product-archive-wrapper .scroll-section-nav li {
    width: 100%;
    margin-bottom: 17px;
  }
}
.product-archive-wrapper .scroll-section-nav li:last-of-type {
  margin-right: 0;
}
.product-archive-wrapper .scroll-section-nav li a {
  color: #ffffff;
  text-decoration: none;
  background: var(--brandColor);
  padding: 13px;
  border-radius: 15px 5px 15px 5px;
  font-size: 14px;
}
@media (max-width: 1150px) {
  .product-archive-wrapper .scroll-section-nav li a {
    width: 100%;
    display: block;
  }
}
.product-archive-wrapper .top-banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
.product-archive-wrapper .top-banner .icon-wrapper {
  border-radius: 100px;
  position: relative;
  width: 65px;
  height: 65px;
  background: var(--brandColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .product-archive-wrapper .top-banner .icon-wrapper {
    width: 30px;
    height: 30px;
  }
}
.product-archive-wrapper .top-banner img {
  position: relative;
  width: 50%;
  height: 50%;
  box-shadow: none;
  border-radius: 0 !important;
}
.product-archive-wrapper .top-banner h3 {
  margin-bottom: 0;
  margin-left: 17px;
  line-height: normal;
}
@media (max-width: 600px) {
  .product-archive-wrapper .top-banner h3 {
    font-size: 16px;
  }
}

.taxonomy-wrapper .top-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  width: 960px;
}
@media (max-width: 1100px) {
  .taxonomy-wrapper .top-category-wrapper {
    width: 100%;
  }
}
.taxonomy-wrapper .top-category-wrapper h1 {
  width: 100%;
  margin-bottom: 55px;
}
.taxonomy-wrapper .top-category-wrapper p {
  width: 100%;
  margin-bottom: 0;
}
.taxonomy-wrapper main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 55px;
}
.taxonomy-wrapper main h3 {
  width: 100%;
  margin-bottom: 55px;
}
.taxonomy-wrapper main .product-item {
  width: calc(33.33% - 27.5px);
  margin: 0 13.75px 27.5px 13.75px;
  padding: 22px;
  background-color: #dadada;
  border-radius: 25px 5px 25px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1100px) {
  .taxonomy-wrapper main .product-item {
    width: calc(50% - 27.5px);
  }
}
@media (max-width: 600px) {
  .taxonomy-wrapper main .product-item {
    width: 100%;
  }
}
.taxonomy-wrapper main .product-item a {
  text-decoration: none;
}
.taxonomy-wrapper main .product-item img {
  margin-bottom: 34px;
  box-shadow: none;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 600px) {
  .taxonomy-wrapper main .product-item img {
    height: auto;
    object-fit: inital;
  }
}
.taxonomy-wrapper main .product-item h4,
.taxonomy-wrapper main .product-item p {
  color: #000;
}
.taxonomy-wrapper main .product-item h4 {
  margin-bottom: 13px;
  font-size: 14px;
}
.taxonomy-wrapper .term-text-wrapper {
  width: 960px;
}
@media (max-width: 1100px) {
  .taxonomy-wrapper .term-text-wrapper {
    width: 100%;
  }
}
.taxonomy-wrapper .term-text-wrapper h1,
.taxonomy-wrapper .term-text-wrapper h2,
.taxonomy-wrapper .term-text-wrapper h3,
.taxonomy-wrapper .term-text-wrapper h4,
.taxonomy-wrapper .term-text-wrapper h5,
.taxonomy-wrapper .term-text-wrapper h6 {
  margin-bottom: 34px;
}

section {
  padding: 110px 0;
}
section .term-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  section .term-wrapper {
    flex-wrap: wrap;
  }
}
section .term-wrapper .term-group-wrapper {
  width: 100%;
  margin: 0 1%;
  padding: 17px;
  border-radius: 25px 5px 25px 5px;
}
@media (max-width: 1280px) {
  section .term-wrapper .term-group-wrapper {
    width: calc(50% - 34px);
    margin-bottom: 34px;
  }
}
@media (max-width: 768px) {
  section .term-wrapper .term-group-wrapper {
    width: 100%;
    margin-bottom: 34px;
  }
}
section .term-wrapper .term-group-wrapper .term-title-wrapper {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 13px;
}
section .term-wrapper .term-group-wrapper a {
  display: block;
  color: #000;
  margin-bottom: 13px;
}

footer {
  background: #e62644;
  color: #ffffff;
  padding: 110px 0;
  margin-top: auto;
  position: relative;
}
@media (max-width: 768px) {
  footer {
    padding: 55px 0;
  }
}
footer .wrapper .inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media (max-width: 1280px) {
  footer .wrapper .inner {
    flex-wrap: wrap;
  }
}
footer .wrapper .inner .logo svg {
  width: 150px;
  height: auto;
}
footer .wrapper .inner .footer-col:nth-child(1) {
  width: auto;
  margin-right: 34px;
}
@media (max-width: 1280px) {
  footer .wrapper .inner .footer-col:nth-child(1) {
    width: 50%;
    margin-right: 0;
    margin-bottom: 55px;
  }
}
@media (max-width: 768px) {
  footer .wrapper .inner .footer-col:nth-child(1) {
    width: 100%;
  }
}
footer .wrapper .inner .footer-col:nth-child(2) {
  width: 20%;
}
@media (max-width: 1280px) {
  footer .wrapper .inner .footer-col:nth-child(2) {
    width: 50%;
    margin-bottom: 55px;
  }
}
@media (max-width: 768px) {
  footer .wrapper .inner .footer-col:nth-child(2) {
    width: 100%;
  }
}
footer .wrapper .inner .footer-col:nth-child(2) ul li {
  list-style: none;
  margin-bottom: 13px;
}
footer .wrapper .inner .footer-col:nth-child(2) ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
footer .wrapper .inner .footer-col:nth-child(3) {
  width: calc(20% - 34px);
}
@media (max-width: 1280px) {
  footer .wrapper .inner .footer-col:nth-child(3) {
    width: calc(33.33% - 34px);
  }
}
@media (max-width: 768px) {
  footer .wrapper .inner .footer-col:nth-child(3) {
    width: 100%;
    margin-bottom: 55px;
  }
}
footer .wrapper .inner .footer-col:nth-child(4) {
  width: calc(20% - 34px);
}
@media (max-width: 1280px) {
  footer .wrapper .inner .footer-col:nth-child(4) {
    width: calc(33.33% - 34px);
  }
}
@media (max-width: 768px) {
  footer .wrapper .inner .footer-col:nth-child(4) {
    width: 100%;
    margin-bottom: 55px;
  }
}
footer .wrapper .inner .footer-col:nth-child(5) {
  width: calc(20% - 34px);
}
@media (max-width: 1280px) {
  footer .wrapper .inner .footer-col:nth-child(5) {
    width: calc(33.33% - 34px);
  }
}
@media (max-width: 768px) {
  footer .wrapper .inner .footer-col:nth-child(5) {
    width: 100%;
  }
}
footer .wrapper .inner .footer-col h4,
footer .wrapper .inner .footer-col h5 {
  margin-bottom: 17px;
}
footer .wrapper .inner .footer-col p {
  margin-bottom: 0px;
}
footer .wrapper .inner .footer-col a {
  color: #ffffff;
  text-decoration: none;
}
footer .a-element {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  z-index: 1;
}
footer .a-element img {
  width: auto;
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: none;
}

#wpcf7-f1528-p297-o1 form {
width: 960px;
}

@media(max-width: 960px) {
#wpcf7-f1528-p297-o1 form {
width: 100%;
}
}
/*# sourceMappingURL=/scripts.css.map */